
form {
  overflow: hidden;
}




.todoListMain .header input {
  padding: 15px;
  font-size: 16px;
  border: #FFF;
  background-color: #FFF;
  margin: 0 auto;
  width: 780px;
  margin-left:400px;
  border-bottom-color: #00FA9A;
  border-bottom-style: solid;
}

.todoListMain .header button {
  padding:15px;
  font-size: 16px;
  background-color: rgb(3, 219, 136);
  color: #FFF;
  border: 2px solid rgb(3, 219, 136);
  display:inline-block;
  margin: 10px 0;
  width: auto;
  font-family: consolas;
  font: size 10;
}

.todoListMain .header button:hover {
  background-color: #32CD32;
  border: 2px solid #32CD32;
  cursor: pointer;

}


.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 5px;
  width: 800px;
  position: relative;
  font-family: consolas;
  margin-left: 400px;
  border-left: 6px solid #00FA9A;

}

.todoListMain .theList li:hover {
  background-color: #00FA9A;
  cursor: pointer;
}

.todoListMain .theList li span {
  position: absolute;
  right: 20px;
}


ul.theList {
  padding: 0;
  list-style: none;
}
